<html>
    <head>
        <title>
            Hello World
        </title>
        {% include 'extra/head.html' %}
        <link rel='stylesheet' href='{{url_for("static", filename="css/dashboard.css")}}'>
    </head>
<body>
    {% include 'dashboard/includes/sidebar.html' %}
    {% extends 'dashboard/includes/content.html' %}
    {% block text_content %}
        <p> <h1> Why Quizes are Important</h1>
        <br>
        <h5>Quizzes are good for revision
Pre-test quizzes can help pupils revise without even realising they are doing it. And a quiz is a good way for a pupil to identify and take ownership of their knowledge gaps. It's also a great way to help them to plug the gaps to boost their confidence when it comes to formal testing
        </h5></p>
    {% endblock %}

    {% include 'dashboard/includes/script.html' %}
</body>
</html>